.App {
margin: 0%;

}
.for-adhd {
font-size: 6vh;
text-align: center;
}
h2 {
  font-size: 4vh;
  text-align: center;
}

.topic {
  text-align: center;
}
.topicTitle {
  font-size: 2vh;
  text-align: center;
 }